
.puzzle-container {
	touch-action: none;
	background: var(--color-bg-subtle);
	border-radius: var(--spacing-radius);
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

@media screen and (max-width: 1023px) {
	bulma-navbar:not([active]) {
		--color-bg-subtle: transparent;
	}
}

@media (orientation: landscape) {
	puzzle-board {
		max-width: 65vw;
	}
}

@media (orientation: portrait) {
	puzzle-board {
		max-height: calc(65 * var(--vh));
	}
}
